altgraph==0.17.2
click==8.0.3
colorama==0.4.4
Flask==2.0.2
future==0.18.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pefile==2021.9.3
proxy-tools==0.1.0
pycparser==2.21
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pythonnet==2.5.2
pywebview==3.5
pywin32-ctypes==0.2.0
Werkzeug==2.0.2
